<html>
<head>
  <title>{{name}}</title>
</head>
<body>
  <h1>{{name}}</h1>
  {% if notes %}
  <div id="notes">
    <h2>Notes</h2>
    <div id="notes-container">
      {{notes}}
    </div>
  </div>
  {% endif %}
  <div id="query-config">
  </div>
  {% if config %}
  <div id="config">
    <h2>Scheduled Export Config</h2>
    <table>
      <tbody>
        {% for k, v in config.items() %}
        <th>{{k}}</th>
        <td>{{v}}</td>
      </tbody>
    </table>
  </div>
  {% endif %}
  <div id="sql">
    <h2>SQL</h2>
    <pre><code class="sql">{{sql}}</code></pre>
  </div>
</body>
</html>
